<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main}, header=~{::header})}">



<title>Nouvelle vente</title>

<main>
  <div class="creer">
    <form data-th-object="${article}" method="post" data-th-action="creer" data-th-fragment="articleform(readonly)">
      <h1 data-th-text="${article.nom}"></h1>
      <ul class="flex-outer">
        <li>
          <label for="inputArticle"> Article : </label>
          <input type="text" id="inputArticle"  data-th-field="*{article}"/>
        </li>
        <li>
          <label for="inputDescription"> Description : </label>
          <input type="text" id="inputDescription"  data-th-field="*{description}"/>
        </li>
        <li>
          <label for="inputCategorie"> Catégories : </label>
          <input type="text" id="inputCategorie"  data-th-field="*{catégorie}"/>
        </li>
        <li>
          <label for="inputPrix"> Mise à prix : </label>
          <input type="text" id="inputPrix"  data-th-field="*{prix}"/>
        </li>
        <li>
          <label for="inputDebutEncheres"> Debut de l'enchère : </label>
          <input type="text" id="inputDebutEncheres"  data-th-field="*{debutEncheres}"/>
        </li>
        <li>
          <label for="inputRue"> Rue : </label>
          <input type="text" id="inputRue"  data-th-field="*{rue}"/>
        </li>
        <li>
          <label for="inputCodePostal"> Code postal : </label>
          <input type="text" id="inputCodePostal"  data-th-field="*{codePostal}"/>
        </li>
        <li>
          <label for="inputVille"> Ville : </label>
          <input type="text" id="inputVille"  data-th-field="*{ville}"/>
        </li>

      </ul>
      <button>Enregistrer</button>
      <button>Annuler</button>
      <button>Annuler la vente</button>
    </form>
  </div>
</main>

</html>