<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main}, header=~{::header})}">

<title>Liste des enchéres</title>

<header></header>

<main>
  <label for="categorie-select">Choisissez une catégorie:</label>

  <select name="categorie" id="categorie-select">
    <option value="">--Choisissez une catégorie--</option>
    <option value="Informatique">Informatique</option>
    <option value="Ameublement">Ameublement</option>
    <option value="Vetements">Vetements</option>
    <option value="Sport&Loisir">Sport&Loisir</option>
  </select>
</main>

</html>